<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PDFsharp" version="1.32.3057.0" targetFramework="net461" />
  <package id="QuickIO.NET" version="2.6.2.0" targetFramework="net461" />
  <package id="Windows7APICodePack-Core" version="1.1.0.0" targetFramework="net461" />
  <package id="Windows7APICodePack-Shell" version="1.1.0.0" targetFramework="net461" />
  <package id="ZetaLongPaths" version="1.0.0.27" targetFramework="net461" />
</packages>